<div class="container">
    <div class="d-flex justify-content-start">
        <h4>Fondo de Pensión</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="salud" class="form-label">Fondo de Pensión</label>
                        <select class="form-control" name="prevision" id="prevision">
                            <option value="0">-- Seleccione</option>
                            <option value="1">Cuprum</option>
                            <option value="2">Modelo</option>
                            <option value="3">Provida</option>
                            <option value="4">Otro</option>
                        </select>
                    <div class="mb-3">
                            <label for="Porcentaje" class="form-label">Porcentaje</label>
                        <label for="nombre" class="form-label"></label>
                        <input type="text" class="form-control" id="nombre">
                    </div>