<div class="container">
    <div class="d-flex justify-content-start">
        <h4>Cargos</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <div class="mb-3">
                    <div class="mb-3">
                    </div>
                        <select class="form-control" name="cargo" id="cargo">
                            <option value="0">-- Seleccione</option>
                            <option value="1">Gerente</option>
                            <option value="2">Jefatura</option>
                            <option value="3">Administrativo</option>
                            <option value="4">Obrero</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion">
                    </div>
                    <label for="cargo" class="form-label">Sueldo Base</label>
                    <input type="number" class="form-control" id="cargo">
                </div>
                <button class="btn btn-success" ><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>