<table class="table">
    <thead>
        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <span class="h3">SPA-RRHH</span>
                </div>
                <div class="container">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/personal">
                Personal
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/cargos">
                Cargos
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/Salud">
                Fondos de Salud
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/pension">
                Fondos de pensión
            </button>
            </div>
        </div>
    <table>
