<div class="container">
    <div class="d-flex justify-content-start">
        <h4>Fondos de Salud</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <div class="mb-3">
                </div>
                        <select class="form-control" name="salud" id="salud">
                            <select class="form-control" name="salud" id="salud"></select>
                            <option value="0">-- Seleccione</option>
                            <option value="1">Fonasa</option>
                            <option value="2">Colmena</option>
                            <option value="3">Banmedica</option>
                            <option value="4">Consalud</option>
                            <option value="5">Otro</option>
                        </select>
                </div>
                    <div class="mb-3">
                            <label for="Porcentaje" class="form-label">Porcentaje</label>
                        <label for="nombre" class="form-label"></label>
                        <input type="text" class="form-control" id="Porcentaje">
                    </div>